@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #eec5c5;
}

p {
    font-family: "Roboto", sans-serif;
    color: rgb(3, 9, 28);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    width:100%;
    justify-content: space-between;
    padding-block: 8px;
    background-color: #fffdfd;
    box-shadow: 5px 1px 1px 2px #efabab;
}

.heading label {
    font-size: 30px;
    color: rgb(17, 17, 17);
    font-family: "Iowan Old Style";
}

.heading span {
    font-size: 40px;
    color: #E84848;
    text-decoration: underline;
}

.nav-links ul {
    gap: 16px;
    color: rgb(238, 84, 84);
    font-size: 16px;
    cursor: pointer;
}
.hover-link:hover {
    color: rgb(204, 11, 11);
    font-size: 17px;
}
.nav-item.active {
    color: rgb(225, 19, 19);
    font-size: 17px;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #f8abab;
    font-family: "Roboto", sans-serif;
    outline-color: #ee8d8d;
}

.news-input::placeholder {
    font-style: italic;
    font-size: 13px;
    color: #ee8d8d;
}

.search-button {
    background-color: #E84848;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: #f66565;
}

h1 {
    color: rgb(221, 84, 84);
    margin-bottom: 15px;
    font-size: 18px;
    margin-left: 20px;
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 480px;
    box-shadow: 0 1px 4px #e44c4c;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.1s ease;
    border-radius: 10px;
    position: relative
}

.card button {
    background-color: #f66565;
    color: white;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.card button:hover {
    background-color: #E84848;
}

.card:hover {
    box-shadow: 1px 1px 8px #e72929;
    background-color: #f6d9d9;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;

}

.news-source {
    margin-block: 12px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        display: inherit;
    }

    .flex li {
        margin-left: 55px;
        font-size: 20px;
    }

    .search-bar {
        margin-left: 55px;
    }

    .heading {
        margin-left: 50px;
    }

    .heading label {
        font-size: 45px;
    }
}